<mat-toolbar color="primary" class="mat-elevation-z4">
    <span>
        <span class="logo">
            <img style="width: 50px; height: 50px;" src="../../../assets/images/logo.png" alt="Logo">
        </span>
        <span class="title">
            {{ title }}
        </span>
    </span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabSelectionChanged($event)">
    <mat-tab label="{{ topMoviesLabel }}">
        <app-top-rated-movies></app-top-rated-movies>
    </mat-tab>
    <mat-tab label="{{ upcomingMoviesLabel }}">
        <app-upcoming-movies [selectedTab]="selectedTab"></app-upcoming-movies>
    </mat-tab>
</mat-tab-group>