.mat-tab-group {
    margin-bottom: 48px;

    .mat-tab {
        width: 50%;
    }
}

.mat-tab-label {
    width: 50%;
    font-weight: 500;

    .mat-tab-label-content{
        color: black;
    }
}
