.login-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: grey;

    .welcome-logo {
        height: 120px;
        width: 120px;
        margin: auto;
        margin-bottom: 0;
    }

    .welcome-message {
        font-size: 35px;
        font-weight: 500;
        color: #fff;
        margin: auto;
        margin-top: 27px;
    }

    .login-button {
        width: 60%;
        height: 60px;
        border-radius: 10px;
        margin: auto;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
        background-color: #4b4b4b;
        color: white;
        cursor: pointer;
    }
}