<div>
    <div class="upcoming-movies-container">
        <div class="upcoming-movie-content" *ngFor="let movie of movieList">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title> {{ movie.title }} </mat-card-title>
                </mat-card-header>
                    <img mat-card-image src="{{ imageUrl + movie.backdrop_path }}" 
                    onerror="this.src='../../../assets/images/placeholderImage.png'"
                    alt="{{ movie.title }}">
                <mat-card-content>
                    <p class="movie-content">
                        {{ movie.overview }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="load-more">
        <button class="load-more-button" (click)="loadMore()">Load More</button>
    </div>
</div>